h3 {
    color: #FCA205;
}

body {
    background-color: #53777A;
    font-family: san-serif;
    color: white;
}

.tg-yw4l {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.table th {
    font-size: 20px;
    background-color: #cccccc;
    text-align: center;
}

td {
    width: 20%;
    font-size: 16px;
}

.content {
    margin-top: 125px;
    text-align: center;
    font-size: 1.0vw;
    color: white;
}

.danger{
    text-decoration: line-through;
}
