{% extends 'table/base.html' %}

{% block booking %}
<table class="table table-hover text-center">
  <tr><th colspan=3 class="tg-yw4l">예약시간</th></tr>
  <tr class="time11">
    <td>
      11시~12시
    </td>
      {% if not rserv11_2 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=11 room=2 %}">
        31-201호
      </a></td>{% endif %}
      {% if rserv11_2 %}<td class="danger">31-201호(예약완료)</td>{% endif %}

      {% if not rserv11_3 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=11 room=3 %}">
        31-301호
      </a></td>{% endif %}
      {% if rserv11_3 %}<td class="danger">31-301호(예약완료)</td>{% endif %}
  </tr>

  <tr class="time12">
    <td>
      12시~13시
    </td>
      {% if not rserv12_2 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=12 room=2 %}">
        31-201호
      </a></td>{% endif %}
      {% if rserv12_2 %}<td class="danger">31-201호(예약완료)</td>{% endif %}

      {% if not rserv12_3 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=12 room=3 %}">
        31-301호
      </a></td>{% endif %}
      {% if rserv12_3 %}<td class="danger">31-301호(예약완료)</td>{% endif %}
  </tr>

  <tr class="time13">
    <td>
      13시~14시
    </td>
      {% if not rserv13_2 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=13 room=2 %}">
        31-201호
      </a></td>{% endif %}
      {% if rserv13_2 %}<td class="danger">31-201호(예약완료)</td>{% endif %}

      {% if not rserv13_3 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=13 room=3 %}">
        31-301호
      </a></td>{% endif %}
      {% if rserv13_3 %}<td class="danger">31-301호(예약완료)</td>{% endif %}
  </tr>

  <tr class="time14">
    <td>
      14시~15시
    </td>
      {% if not rserv14_2 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=14 room=2 %}">
        31-201호
      </a></td>{% endif %}
      {% if rserv14_2 %}<td class="danger">31-201호(예약완료)</td>{% endif %}

      {% if not rserv14_3 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=14 room=3 %}">
        31-301호
      </a></td>{% endif %}
      {% if rserv14_3 %}<td class="danger">31-301호(예약완료)</td>{% endif %}
  </tr>

  <tr class="time15">
    <td>
      15시~16시
    </td>
      {% if not rserv15_2 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=15 room=2 %}">
        31-201호
      </a></td>{% endif %}
      {% if rserv15_2 %}<td class="danger">31-201호(예약완료)</td>{% endif %}

      {% if not rserv15_3 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=15 room=3 %}">
        31-301호
      </a></td>{% endif %}
      {% if rserv15_3 %}<td class="danger">31-301호(예약완료)</td>{% endif %}
  </tr>

  <tr class="time16">
    <td>
      16시~17시
    </td>
      {% if not rserv16_2 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=16 room=2 %}">
        31-201호
      </a></td>{% endif %}
      {% if rserv16_2 %}<td class="danger">31-201호(예약완료)</td>{% endif %}

      {% if not rserv16_3 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=16 room=3 %}">
        31-301호
      </a></td>{% endif %}
      {% if rserv16_3 %}<td class="danger">31-301호(예약완료)</td>{% endif %}
  </tr>

  <tr class="time17">
    <td>
      17시~18시
    </td>
      {% if not rserv17_2 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=17 room=2 %}">
        31-201호
      </a></td>{% endif %}
      {% if rserv17_2 %}<td class="danger">31-201호(예약완료)</td>{% endif %}

      {% if not rserv17_3 %}<td class="tg-yw4l"><a href="{% url 'rserv_info' rdate=rservdate pk=17 room=3 %}">
        31-301호
      </a></td>{% endif %}
      {% if rserv17_3 %}<td class="danger">31-301호(예약완료)</td>{% endif %}
  </tr>
</table>
{% endblock %}
